/*###################################################################################*/
/*###################################################################################*/
/*#########################           B O D Y        ################################*/
/*###################################################################################*/
/*###################################################################################*/

body{
    margin : 0;
    padding : 0;
    background-image: url("../Images/background.jpg");
    background-size: cover;
}


/*###################################################################################*/
/*###################################################################################*/
/*#########################         H E A D E R        ##############################*/
/*###################################################################################*/
/*###################################################################################*/


nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    list-style-type: none;
    font-size : 150%;
    
}

nav ul li a{
    text-decoration:none;
    color: #ba605f;
}


/*###################################################################################*/
/*###################################################################################*/
/*#########################             M A I N        ##############################*/
/*###################################################################################*/
/*###################################################################################*/


#h1-index{
   display: flex;
   justify-content: center;
}
main {
    width: 100%;
    padding-top: 15%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.champ {
    width: 30%;
    margin: 1%;
}

#main_connex{
    display: flex;
    justify-content : center;
    font-size: 150%;
}

span {
    color: red;
}

.div-admin{
    
}

/*###################################################################################*/
/*###################################################################################*/
/*#########################           F O O T E R      ##############################*/
/*###################################################################################*/
/*###################################################################################*/

